<div id="header">
    <div class="column left">
      <h2 id="name">{{firstname}} {{lastname}}</h2>
      <p><i class="fa fa-envelope"></i><a href="mailto:{{email}}" target="_top">{{email}}</a></p>
      <p id="phone"><i class="fa fa-phone"></i> {{phone.number}}</p>
      <div id="address">
       <p id="city"><i class="fa fa-map-marker"></i>{{city}}, {{country}}</p>
      </div>
      <p><i class="fa fa-user"></i>{{age}}, {{nationality}}</p>
      <p><i class="fa fa-git"></i><a href="https://{{github}}" target="_blank">{{github}}</a></p>
   </div>
   <div class="column right">
     <div><img src="{{base}}/common/{{pic.src}}" width="{{pic.width}}" height="{{pic.height}}"/></div>
  </div>
</div>
