<div class="section" id="hobby">
<div class="section-title"><i class="fa fa-book"></i><h2>{{hobby_label}}</h2></div>
</ul>
{{#hobby_rows}}
  <li class="row">
    <div class="column left">
      <p>{{hobby_name}}</p>
    </div>
    <div class="column right">
      <p>{{description}}</p>
    </div>
  </li>
{{/hobby_rows}}
</ul>
</div>
