<html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{base}}/common/style.css">
<link rel="stylesheet" href="{{base}}/common/font-awesome/css/font-awesome.min.css">
<title>{{firstname}} {{lastname}} - {{title}}</title>
<div id="resume" style="overflow:hidden;">
<div id="top">
  {{{header}}}
  <h1>{{title}}</h1>
</div>
<div id="content">
  {{{professional}}}
  {{{education}}}
  {{{skills}}}
  {{{hobby}}}
  <div id="vertical-lign"></div>
</div>
</div>
</html>
