<div class="section" id="skills">
<div class="section-title"><i class="fa fa-wrench"></i><h2>{{skills_label}}</h2></div>
<ul>
{{#skills_rows}}
  <li class="row">
    <div class="column left">
      <p>{{skill}}</p>
    </div>
    <div class="column right">
      <p>{{description}}</p>
    </div>
  </li>
{{/skills_rows}}
</ul>
</div>
